@font-face {
  font-family: 'mb';
  src: url('../fonts/mb.eot?51948685');
  src: url('../fonts/mb.eot?51948685#iefix') format('embedded-opentype'),
       url('../fonts/mb.woff2?51948685') format('woff2'),
       url('../fonts/mb.woff?51948685') format('woff'),
       url('../fonts/mb.ttf?51948685') format('truetype'),
       url('../fonts/mb.svg?51948685#mb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mb";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-torrent:before {
  content: '\e800';
}

.icon-left:before {
  content: '\e801';
}

.icon-ext:before {
  content: '\e802';
}

.icon-play:before {
  content: '\e803';
}

.icon-cancel:before {
  content: '\e804';
}

.icon-dl:before {
  content: '\e805';
}

.icon-github:before {
  content: '\e806';
}

.icon-twitter:before {
  content: '\e807';
}

.icon-certificate:before {
  content: '\e808';
}

.icon-exclamation:before {
  content: '\e809';
}

.icon-thumbs-up:before {
  content: '\e80a';
}

.icon-thumbs-down:before {
  content: '\e80b';
}

.icon-seen:before {
  content: '\e80c';
}

.icon-lightbulb:before {
  content: '\e80d';
}

.icon-rss:before {
  content: '\e80e';
}

.icon-right:before {
  content: '\e810';
}

.icon-home:before {
  content: '\e814';
}
