.video-js{font-size:10px;color:#fff}.video-js .vjs-resolution-button-label{line-height:3}.video-js .vjs-current-time,.video-js .vjs-no-flex .vjs-current-time{display:flex}.video-js .vjs-big-play-button{font-size:3em;line-height:1.5em;height:1.5em;width:3em;border:0.06666em solid #fff;border-radius:0.3em;left:50%;top:50%;margin-left:-1.5em;margin-top:-0.75em}.video-js .vjs-volume-level,.video-js .vjs-play-progress,.video-js .vjs-slider-bar{background:#fff}.video-js .vjs-load-progress{background:ligthen(#dcd5e9, 25%);background:rgba(220,213,233,0.5)}.video-js .vjs-load-progress div{background:ligthen(#dcd5e9, 50%);background:rgba(220,213,233,0.75)}
/*# sourceMappingURL=customPlayer.css.map */
