
        <footer id="footer" role="contentinfo" class="text-center">
          <p>
            &copy; CTOON.network 2014-{{ Date('Y') }}<br>
            <a title="Website Stats" href="https://ctoon.party/stats">Stats</a> -
            <a title="Frequently Asked Questions" href="https://ctoon.party/faq">FAQ</a> -
            <a title="Twitter" href="https://twitter.com/CTOONparty">Twitter</a> -
            <a title="Discord" href="https://discord.gg/Jr9Pnq9">Discord</a><br>
            <a href="https://ko-fi.com/A637AV5" target="_blank">
              <img height="25" style="height:25px;vertical-align:initial;" src="/assets/img/ko-fi.png" alt="Buy Me a Coffee"></a>
          </p>

          <p class="boring">
            CTOON is not affiliated nor endorsed by the copyright holders of the shows available on this website.<br>
            Shows without any TV age rating displayed are by default TV-Y7.<br>
            We love cartoons, so buy licensed stuff when you can.
          </p>
        </footer>
      </div>

      <div class="pmd-sidebar-overlay"></div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<check if="{{ @SERVER.HTTP_CF_IPCOUNTRY != 'T1' && @SERVER.HTTP_HOST != @remote.tor_host }}">
    <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//fathom.ctoon.party/tracker.js', 'fathom');
      fathom('set', 'siteId', 'HHHCX');
      fathom('trackPageview');
    </script>
</check>
    {{ @assets->render('footer') }}
  </body>
</html>
