<include href="header.htm" />
        <div id="main" role="main">
          <div class="details-content">
            <div class="cover" style="background-image: url('/assets/img/covers/{{ @show.showShortName }}.jpg');"></div>
            <h2 class="showTitle">{{ @show.showName }}</h2>

            <blockquote cite="{{ @show.showDescriptionSource }}">
              {{ @show.showDescription }}
            </blockquote>

            <ul class="text-center clearfix">
<check if="{{ @show.showLink }}">
              <li class="inbl">
                <a class="link" href="{{ @show.showLink }}">Team Blog/Website</a>
              </li>
</check>
<check if="{{ @show.showLinkFanNews }}">
              <li class="inbl">
                <a class="link" href="{{ @show.showLinkFanNews }}">Fan News</a>
              </li>
</check>
<check if="{{ @show.showImdb }}">
              <li class="inbl">
                <a class="link" href="http://www.imdb.com/title/{{ @show.showImdb }}/">IMDb</a>
              </li>
</check>
<check if="{{ @show.showLinkItunes }}">
              <li class="inbl">
                <a class="link" href="{{ @show.showLinkItunes }}">iTunes</a>
              </li>
</check>
<check if="{{ @show.showLinkAmazon }}">
              <li class="inbl">
                <a class="link" href="{{ @show.showLinkAmazon }}">Amazon</a>
              </li>
</check>
<check if="{{ @show.showLinkPlay }}">
              <li class="inbl">
                <a class="link" href="{{ @show.showLinkPlay }}">Google Play</a>
              </li>
</check>
            </ul>
          </div>

<!--
          <div class="alert alert-warning" role="alert">
            <strong>Just an heads up!</strong>
            The admin will be away until July 7th. Expect uploads to be slower.
          </div>
-->

<check if="{{ @show.showIsHidden == 1 }}">
          <div class="alert alert-danger" role="alert">
            <b>Work in progress</b><br/>
            We're still working on this show. You might find episodes not in the correct order,
            with wrong titles or not playing at all.
          </div>
</check>

          <div class="colSettings">
            Column display:
            <select id="colDisplay" class="form-control">
              <option {{ @colDisplay == 'vertical' ? 'selected ' : '' }}value="vertical">Vertical</option>
              <option {{ @colDisplay == 'horizontal' ? 'selected ' : '' }}value="horizontal">Horizontal</option>
              <option {{ @colDisplay == 'single' ? 'selected ' : '' }}value="single">Single Column</option>
            </select>
          </div>

          <div class="panel-group pmd-accordion pmd-accordion-inbox" id="seasons" role="tablist" aria-multiselectable="true" >
<repeat group="{{ @seasons }}" key="{{ @skey }}" value="{{ @season }}">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#seasons" href="#collapse{{ @skey }}"
                    aria-expanded="false" aria-controls="collapse{{ @skey }}" data-expandable="false">
                    {{ parseSE(@skey, null, 'array')[0] }}
                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
                  </a>
                </h4>
              </div>
              <div id="collapse{{ @skey }}" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <div class="ep-list ep-list--{{ @colDisplay }}">
<repeat group="{{ @season }}" value="{{ @episode }}">
                    <div class="ep-entry">
                      <a class="link" href="/{{ @show.showShortName }}/{{ @episode.epiNumberTotal }}">
                        {{ parseSE(@skey, @episode.epiNumber, 'array')[1] }}: {{ @episode.epiName }}</a>
                    </div>
</repeat>
                  </div>
                </div>
              </div>
            </div>
</repeat>
          </div> <!-- Inbox like Accordion end-->
        </div><!-- #main -->

        <script>
          document.querySelector('#colDisplay').addEventListener('change', function (ev) {
            var l = document.querySelectorAll('.ep-list')
            for (var i in l) {
              l[i].className = 'ep-list ep-list--' + ev.target.value
            }

            var expires = new Date()
            expires.setTime(expires.getTime() + (365 * 24 * 60 * 60 * 1000))
            document.cookie = 'colDisplay=' + ev.target.value + ';expires=' + expires.toUTCString() + '; path=/'
          })
        </script>

<include href="footer.htm" />
