<include href="header.htm" />
        <h2>Stats</h2>

        <p>
            Here's some stats from <span class="drange">the last 30 days</span>.<br/>
            <small><i>Data goes from midnight to midnight UTC.</i></small>
        </p>

        <div class="stats">
            <b>Monthly cost:</b> <code>{{ @stats.costs }}</code><br/>
            <b>Storage used:</b> <code>{{ @stats.storage }}</code>
            (<code>{{ @stats.storage_ext }}</code> for the
              <abbr title="Shows encoded: 4/15">new version</abbr>)<br/>
            <b>Unique visitors:</b> <code>{{ @stats.visitors }}</code><br/>
            <b>Page views:</b> <code>{{ @stats.pageviews }}</code><br/>
            <b>Requests:</b> <code>{{ @stats.requests }}</code><br/>
            <b>Bandwidth:</b> <code>{{ @stats.bandwidth }}</code><br/>

            <b>Top countries <small>(over 1.5% share)</small>:</b>
            <div id="chart_req"></div>
            <b>Daily unique visitors:</b>
            <div id="chart_visitors"></div>
        </div>

        <style>
            .stats b {
                min-width: 8em;
                display: inline-block;
            }
        </style>

        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            var df = new Date('{{ @stats.from }}')
            var dt = new Date('{{ @stats.to }}')
            var dr = document.querySelector('.drange')
            dr.innerHTML = df.toLocaleString() + ' to ' + dt.toLocaleString()

            google.charts.load('current', { 'packages': ['corechart'] })
            google.charts.setOnLoadCallback(drawChart)

            function drawChart() {
                var data1 = new google.visualization.DataTable()
                data1.addColumn('string', 'Country')
                data1.addColumn('number', 'Requests')
                data1.addRows([
<repeat group="{{ @stats.topcountries }}" key="{{ @k }}" value="{{ @v }}">
                    ['{{ @k }}', {{ @v }}],
</repeat>
                ])
                var options1 = {
                    title: 'Requests',
                    chartArea: {
                        width: '100%',
                        right: 50,
                        left: 10,
                        bottom: 50,
                        top: 10,
                    },
                    pieHole: 0.4,
                    sliceVisibilityThreshold: 1.5/100,
                    width: 500,
                    height: 200,
                    backgroundColor: 'transparent',
                    legend: { textStyle: { color: '#c7254e' } }
                }
                var chart1 = new google.visualization.PieChart(document.getElementById('chart_req'))
                chart1.draw(data1, options1)

                var data2 = new google.visualization.DataTable()
                data2.addColumn('date', 'Day')
                data2.addColumn('number', 'Visitors')
                data2.addRows([
<repeat group="{{ @stats.dvisitor }}" key="{{ @k }}" value="{{ @v }}">
                    [new Date('{{ @k }}'), {{ @v }}],
</repeat>
                ])
                var options2 = {
                    chartArea: {
                        width: '100%',
                        right: 0,
                        left: 70,
                        top: 20,
                        bottom: 20
                    },
                    hAxis: {
                        format: 'MMM d',
                        textStyle: {
                            color: '#c7254e'
                        } 
                    },
                    vAxis: {
                        textStyle: {
                            color: '#c7254e'
                        } 
                    },
                    legend: {
                        position: 'none'
                    },
                    backgroundColor: 'transparent'
                }
                var chart2 = new google.visualization.AreaChart(document.getElementById('chart_visitors'))
                chart2.draw(data2, options2)
            }
        </script>
<include href="footer.htm" />
